body {
    font-family: "Poppins", sans-serif;
    background: rgb(233,207,141);
    background: linear-gradient(90deg, rgba(233,207,141,1) 0%, rgba(96,203,232,1) 50%, rgba(205,171,16,1) 100%);
  }
  
  h1,
  h2,
  footer,
  .temp-current,
  .temp-unit,
  .current-location-button,
  .search-button,
  .searchbar {
    font-family: "PT Mono", monospace;
  }
  
  h1,
  h2 {
    font-weight: 700;
    color: rgb(42, 137, 184);
  }
  
  h1 {
    margin-top: 8px;
    margin-bottom: 0;
    font-size: 38px;
    max-width: 100%;
  }
  
  h2 {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 30px;
  }

  .dots {
    color: orange;
    color: color;
    height: 8px;
    border-width: 0 0 8px;
    border-style: solid;
    border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2 1" width="8" height="4"><circle fill="#{$color}" cx="1" cy="0.5" r="0.5"/></svg>') 0 0 100% repeat;
  }
  
  footer {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
  }
  
  .container {
    margin-top: 20px;
    margin-bottom: 17px;
    max-width: 95%;
    text-align: right;
  }
  
  .section {
    padding: 12px;
    border: 2px solid #10b8eb;
    border-radius: 8px;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.3);
    background: rgb(34,140,195);
    background: linear-gradient(0deg, rgba(34,140,195,1) 0%, rgba(253,187,45,1) 100%);
    border-radius: 45px;
  }
  
  .search-engine {
    margin-bottom: 20px;
    background: rgb(34,140,195);
    background: linear-gradient(0deg, rgba(34,140,195,1) 0%, rgba(253,187,45,1) 100%);
    border-radius: 45px;
  }
  
  .searchbar {
    margin-bottom: 0 !important;
  }
  
  .searchbar-type {
    border-color: #10b8eb;
    border-radius: 45px;
  }
  
  .search-button {
    font-weight: 700;
    font-size: 18px;
    background-color: #fff;
    border-color: #10b8eb;
    color: rgb(34,140,195);
    max-width: 110%;
    float: right;
    border-radius: 45px;
  }
  
  .search-button:hover {
    color: rgb(220, 156, 18);
    background-color: #3db6d4;
    border-color: rgb(34,140,195);
  }
  
  .search-button:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  
  .current-location-button {
    display: block;
    margin-right: 5px;
    margin-left: 10px;
    margin-bottom: 25px;
    float: right;
    font-size: 18px;
    font-weight: 700;
    color: rgb(220, 156, 18);
    background-color: #fff;
    border-color: transparent;
    border-radius: 40px;
  }
  
  .current-location-button:hover {
    border-color: rgb(195, 109, 34);
    border-radius: 45px;
    color: #3db6d4;
    background-color: rgb(220, 156, 18);
  }
  
  .current-location-button:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  
  .icon-current {
    text-align: center;
    font-size: 110px;
    color: #fff8e5;
  }
  
  .temp-current {
    margin-top: -18px;
    text-align: right;
    font-size: 110px;
    font-weight: 700;
    color: #d8e3ea;

  }
  
  .temp-current-maxmin {
    text-align: right;
    color: #daa76e;
    font-size: 22px;
  }
  
  .temp-unit-change {
    margin-top: 13px;
    text-align: center;
  }
  
  .temp-unit {
    text-align: center;
    margin-top: -8px;
    margin-left: -13px;
    padding: 0;
    border: none;
    font-weight: 700;
    font-size: 45px;
  }
  
  .temp-unit:hover {
    background-color: transparent;
  }
  
  .temp-unit:focus {
    outline: none !important;
    box-shadow: none !important;
  }
  
  #button-unit-celsius {
    color: #fb3569;
  }
  
  #button-unit-fahrenheit {
    color: #783444;
  }
  
  .extra-info {
    margin-top: 7px;
    margin-bottom: 10px;
    padding-top: 15px;
    font-style: italic;
    font-weight: 600;
    color: #fff8e5;
  }
  
  .precipitation-value,
  .humidity-value,
  .wind-value {
    font-style: normal;
    font-weight: 400;
    text-align: right;
  }
  
  .current-info {
    text-align: right;
    margin-right: 35px;
  }
  
  .day {
    font-weight: 600;
    font-size: 25px;
    color: #d1ebfe;
    margin-bottom: 10px;
  }
  
  .time,
  .date {
    font-weight: 400;
    font-size: 20px;
    margin-top: 5px;
  }
  
  .weather {
    font-size: 20px;
    color: #fff8e5;
  }
  
  .refresh-time {
    text-align: right;
    color: #daa76e;
    font-size: 13px;
    margin-right: 15px;
    margin-bottom: 5px;
  }
  
  .refresh-description {
    margin-right: 5px;
  }
  
  .forecast {
    text-align: center;
  }
  
  .forecast-days {
    border-radius: 35px;
    transition: all 200ms ease-in-out;
  }
  
  .forecast-days:hover {
    background-color: rgba(217, 182, 78, 0.5);
  }
  
  .day-forecast {
    font-weight: 500;
    font-size: 25px;
    color: #d1ebfe;
    margin-bottom: 10px;
    margin-top: 5px;
  }
  
  .date-forecast {
    font-weight: 400;
    font-size: 16px;
  }
  
  .icon-forecast {
    color: #fff8e5;
    font-size: 35px;
    margin-bottom: 15px;
  }
  
  .temp-forecast {
    color: #daa76e;
    font-size: 18px;
    margin-bottom: 5px;
  }
  
  .source-code-link {
    text-decoration: none;
    color: #0d97fd;
  }
  
  .source-code-link:hover {
    text-decoration: underline;
    color: #0a78ca;
  }